<%- include('partials/header') %>
<%- include('partials/navbar') %>

      <div class="col-md-10 mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="fw-bold">ตำแหน่ง</h4>
          <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addPositionModal">
           <i class="fa-solid fa-plus"></i> เพิ่มตำแหน่งใหม่
          </button>

        </div>

        <!-- ค้นหา -->
        <div class="input-group mb-3 w-50">
          <input type="text" class="form-control" placeholder="ค้นหา">
          <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>

        <!-- ตารางตำแหน่ง -->
        <table class="table table-hover text-center align-middle">
          <thead class="table-light">
            <tr>
              <th>ชื่อตำแหน่ง</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ประธานบริษัท</td>
              <td><button class="btn btn-primary">ดูข้อมูลเพิ่มเติม</button></td>
            </tr>
            <tr>
              <td>เลขาธิการบริษัท</td>
              <td><button class="btn btn-primary">ดูข้อมูลเพิ่มเติม</button></td>
            </tr>
            <tr>
              <td>รองประธานบริษัท</td>
              <td><button class="btn btn-primary">ดูข้อมูลเพิ่มเติม</button></td>
            </tr>
            <tr>
              <td>HR</td>
              <td><button class="btn btn-primary">ดูข้อมูลเพิ่มเติม</button></td>
            </tr>
            <tr>
              <td>IT Support</td>
              <td><button class="btn btn-primary">ดูข้อมูลเพิ่มเติม</button></td>
            </tr>
          </tbody>
        </table>

      </div>

<%- include('partials/footer') %>