<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="col-md-10 mt-4">
  <h5 class="fw-bold">รายชื่อตำแหน่ง ..................</h5>
  <p class="fw-bold">รายการพนักงาน</p>

  <!-- ตารางรายชื่อพนักงานแบบเดิมแต่ขนาดเล็กลงและชิดซ้าย -->
  <div style="max-width: 300px;">
    <table class="table table-hover text-center align-middle">
      <thead class="table-light">
        <tr>
          <th>ชื่อ - สกุล</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>แดง เปิด</td></tr>
        <tr><td>เขียว ปิด</td></tr>
      </tbody>
    </table>
  </div>
</div>


<%- include('partials/footer') %>