<div class="col-md-2 sidebar">
    <a href="/employee">ข้อมูลพนักงาน</a>
    <a href="/leave-work">รายการทำงานลา</a>
    <a href="/salary">จัดการเงินเดือน</a>
    <a href="/evaluation">การประเมินผล</a>
    <a href="/position">ตำแหน่งงาน</a>
    <a href="/apply-work">ผู้สมัครงาน</a>
  </div>